@import url("https://fonts.googleapis.com/css?family=Hind:400,700&display=swap");
body {
  background: #fdfdfd;
  font-family: "Hind";
  font-size: 1.5rem;
  max-width: 500px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}
h1 {
  color: #ff4500;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#ff4500;
	color:#ffffff;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999999;
}
.my-float{
	margin-top:18px;
}
#dohas {
	color: #000000;
}
footer {
	color: #555555;
	font-size: x-small;
	font-family: "Hind";
}
a:any-link {
	color:inherit;
	text-decoration: none;
}
#pwa-install {
	--install-button-color: #b23000;
}
